
.top{

}

#icon{
	max-width: 10%;
	float: left;
	display: inline-block;
	position: relative;
	left:2em;
	top:2em;
}

.speechbox{
	position: relative;
}

#speech{
	font-family: 'Hiragino';
	position: absolute;
	z-index: 5;
	top: 1em;
	max-width: 70%;
	left:5em;
	color: black;
	font-size: 2em;
}

#textbox{
	max-width: 80%;
	/*position: relative;	*/
}

.mainPageTitle{
	padding-top: 58em;
}

.mainPageTitle > h1, .mainPageTitle > h2{
	font-weight: bold;
	font-family: 'Hiragino';
	color: black;
}
.mainPageTitle > h2{
	font-size: 4em;
}

.mic{
	margin-top: 1em;
}

#micpic{
	max-width: 10em;
}

#section0Main{
	background-image: url('../imgs/voiceDemoBg(noIconTextbox).png');
	/*background-image: url('../imgs/voiceDemoBg.png');*/
	background-size: cover;
	background-repeat: no-repeat;
}

@font-face {
    font-family: 'Hiragino'; /*a name to be used later*/
    src:url('copyfonts.com_hirakakustd-w8-opentype.otf'); /*URL to font*/
}