h1, h2, h3, h4, p , span{
	font-family: 'avenir';
}

.topTime{
	
}

.main{
	vertical-align: middle;
	padding: 8em 0;
}

.individualName{
	margin: 5em 10em;
	
}

#individualNum{
	font-size: 15em;
	display: inline-block;
	margin:25px;
}

.individualNumWords{
	display: inline-block;
	max-width: 8em;
}

.actions{
	margin: 5em auto;
}

.individualBottom{
	margin-top: 5em;
}

img{
	margin-top: 2em;
	max-width: 5em;
}

h1, h2, h3, h4, h5, p{
	color: white;
}

.main > h2, .individualNumWords > span > h2, .individualBottom > h2{
	font-size: 4em;
}

p{
	font-size: 2.5em;
}

/* Button */

	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	button,
	.button {
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		-moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		-webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		-ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		border-radius: 4px;
		border: 0;
		cursor: pointer;
		display: inline-block;
		font-size: 1.50em;
		font-weight: 400;
		height: 2em;
		/*height: 3.5em;*/
		letter-spacing: 0.05em;
		line-height: 2em;
		/*line-height: 3.5em;*/
		padding: 0 2em;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		white-space: nowrap;
	}

		input[type="submit"].icon:before,
		input[type="reset"].icon:before,
		input[type="button"].icon:before,
		button.icon:before,
		.button.icon:before {
			margin-right: 0.5em;
		}

		input[type="submit"].fit,
		input[type="reset"].fit,
		input[type="button"].fit,
		button.fit,
		.button.fit {
			display: block;
			margin: 0 0 1em 0;
			width: 100%;
		}

		input[type="submit"].small,
		input[type="reset"].small,
		input[type="button"].small,
		button.small,
		.button.small {
			font-size: 0.7em;
		}

		input[type="submit"].big,
		input[type="reset"].big,
		input[type="button"].big,
		button.big,
		.button.big {
			font-size: 1.1em;
		}

		input[type="submit"].wide,
		input[type="reset"].wide,
		input[type="button"].wide,
		button.wide,
		.button.wide {
			min-width: 15em;
		}

		input[type="submit"].disabled, input[type="submit"]:disabled,
		input[type="reset"].disabled,
		input[type="reset"]:disabled,
		input[type="button"].disabled,
		input[type="button"]:disabled,
		button.disabled,
		button:disabled,
		.button.disabled,
		.button:disabled {
			-moz-pointer-events: none;
			-webkit-pointer-events: none;
			-ms-pointer-events: none;
			pointer-events: none;
			opacity: 0.25;
		}

	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	button,
	.button.round {
		background-color: transparent;
		box-shadow: inset 0 0 0 2px white;
		/*box-shadow: inset 0 0 0 1px rgba(144, 144, 144, 0.25);*/
		color: white;
		/*color: #a4a8a8;*/
		width: 250px;
		border-radius: 30px;
		font-size: 2.5em;
	}

		input[type="submit"]:hover,
		input[type="reset"]:hover,
		input[type="button"]:hover,
		button:hover,
		.button:hover {
			background-color: rgba(80, 158, 216, 0.1);
			color: #509ed8 !important;
		}

		input[type="submit"]:active,
		input[type="reset"]:active,
		input[type="button"]:active,
		button:active,
		.button:active {
			background-color: rgba(80, 158, 216, 0.3);
		}

		input[type="submit"].icon:before,
		input[type="reset"].icon:before,
		input[type="button"].icon:before,
		button.icon:before,
		.button.icon:before {
			color: #aaaaaa;
		}

		input[type="submit"].special,
		input[type="reset"].special,
		input[type="button"].special,
		button.special,
		.button.special {
			box-shadow: none;
			background-color: #5ac3d6;
			color: #ffffff !important;
		}

			input[type="submit"].special.icon:before,
			input[type="reset"].special.icon:before,
			input[type="button"].special.icon:before,
			button.special.icon:before,
			.button.special.icon:before {
				color: #ffffff !important;
			}

			input[type="submit"].special:hover,
			input[type="reset"].special:hover,
			input[type="button"].special:hover,
			button.special:hover,
			.button.special:hover {
				background-color: #6ecadb;
			}

			input[type="submit"].special:active,
			input[type="reset"].special:active,
			input[type="button"].special:active,
			button.special:active,
			.button.special:active {
				background-color: #46bcd1;
			}

@font-face {
    font-family: 'avenir'; /*a name to be used later*/
    src:url('Avenir/Avenir LT 35 Light.ttf'); /*URL to font*/
    /*src:url('Avenir-Free/Avenir-Free/AvenirLTStd-Light.otf'); /*URL to font*/*/
}